<div class="hero-unit">
	<h2>To Do List</h2>
	<p class="pull-right"><a href="/todos/add" class="btn">Create a new To Do</a></p>
</div>

<div class="well">
<% if (todos && todos.length) { %>
	<% for (var i in todos) { %>
		<div class="row todo-item">
			<div class="span8">
	    		<p>
					<!--<input type="checkbox" name="status" value="<%= todos[i].id; %>" <%= (todos[i].status == 'done') ? 'checked="checked"' : '' %> />-->
					<% if ( todos[i].status == 'done' ){ %>
						<a href="#"><img src="img/checked.png" alt="" /></a>&nbsp;
						<a href="/todos/<%= todos[i].id; %>/edit">
							<small style="text-decoration: line-through; font-size: 14px;"><%= todos[i].title; %></small>
						</a>
					<% } else { %>
						<a href="/todos/<%= todos[i].id; %>/done"><img src="img/unchecked.png" alt="" /></a>&nbsp;
						<a href="/todos/<%= todos[i].id; %>/edit"><%= todos[i].title; %></a>
					<% } %>
				</p>
			</div>
			<!--<td><%= todos[i].status; %></td>-->
			<!--<td><a href="/todos/<%= todos[i].id; %>/edit"><i class="icon-pencil"></i></a></td>-->
	  </div>
	  <% } %>
	<% } %>
</div>